body {
    margin: 0;
    padding: 0;
}

.layout-grid {
    padding: 20px;
}

@media (min-width: 768px){  
    .layout-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px;
        max-width: 520px;
        margin: auto;
    }
}

@media (min-width: 2000px){  
    .layout-grid {
        max-width: 1820px;
        font-size: 2em;
    }
}


